.pfcard {
  height: 25rem;
  width: 35rem;
  margin: 0 1rem;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
}

.img {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  transition: filter 400ms;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-color: white;
  font-size: 2.2rem;
  height: 4rem;
  width: 10rem;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 700ms;
}

.pfcard:hover .img {
  filter: blur(3px) brightness(80%);
}
.pfcard:hover .btn {
  opacity: 1;
  animation: topbotom 700ms ease-out forwards;
}

.something {
  width: 35rem;
  font-size: 1.2rem;
  padding: 0 2rem;
  margin-bottom: 4rem;
  color: dimgray;
  word-spacing: 1px;
  text-indent: 3rem;
  line-height: 1.4;
  text-align: justify;
}

@keyframes topbotom {
  0% {
    transform: translate(-50%, -70%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 355px) {
  .pfcard {
    margin: 0;
    width: 100%;
  }
  .img {
    margin: 0;
    width: 100%;
  }
  .something {
    width: 100%;
  }
}
